html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#footer {
  flex-grow: 1;
  /* margin-top: auto; */
}


@media (min-width: 768px) {

  /* Limit the height of the carousel on big screen */
  .welcomeCarousel {
    height: 500px;
  }
}

.scrollableList {
  max-height: 100vh;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}